$bgcolor: #f1f1f1;
$quoteboxwidth: 30em;

body {
  background-color: $bgcolor;
}

#maincontainer {
}

.centered {
  max-width: $quoteboxwidth;
  margin: auto;
}

.gidouille-start {
  padding-top: 0.8em;
  // text-align:center;
  // right: 2px;
  // right: $quoteboxwidth/2 - 20px;
}

h3 {
  font-family: 'Lora', serif;
  color:rgba(0, 0, 0, 0.54);
  width:100%;
  text-align: center;
}

.quotebox-start {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding: 2em;
  width: auto;
  max-width: $quoteboxwidth;
  text-align:center;
}

.gidouille {
  position: absolute;
  top: -2em;
  // right: 2px;
  right: $quoteboxwidth/2 - 2em;
}

.quotebox {
  overflow:visible;
  margin-top: 2.5em;
  margin-bottom: 1em;
  padding-top: 1em;
  width: auto;
  max-width: $quoteboxwidth;
  white-space:pre-wrap;
}

.quotebox-quote {
  font-family: 'Lora', serif;
  font-size:1.2em;
  color: rgba(0, 0, 0, 0.74);
  text-align: justify;
}

#faustroll-position {
  width:100%;
  text-align:right;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  color:rgba(0, 0, 0, 0.44);
  padding:0;
  
}

.faustroll-container {
  text-align:center;
  margin-top:-2.8em;
  margin-bottom:-0.5em;
}

.faustroll-footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  background-color: inherit;
  ul {
    justify-content: center;
  }
  a:hover {
    text-decoration: underline;
  }
}
