$bgcolor: #f1f1f1;
$quoteboxwidth: 30em;

body {
  background-color: $bgcolor;
}

#maincontainer {
}

.centered {
  max-width: $quoteboxwidth;
  margin: auto;
}

.gidouille-start {
  padding-top: 0.8em;
  // text-align:center;
  // right: 2px;
  // right: $quoteboxwidth/2 - 20px;
}

h3 {
  font-family: 'Lora', serif;
  text-align: center;
  color:rgba(0, 0, 0, 0.54);
}

.quotebox-start {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding: 2em;
  width: auto;
  max-width: $quoteboxwidth;
  text-align:center;
}

.gidouille {
  position: absolute;
  top: -2em;
  // right: 2px;
  right: $quoteboxwidth/2 - 2em;
}

.quotebox {
  overflow:visible;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 2em;
  width: auto;
  max-width: $quoteboxwidth;
  white-space:pre-wrap;
}

.quotebox-quote {
  font-family: 'Lora', serif;
  font-size:1.2em;
  // color: green;
  text-align: justify;
}

.infos-text {

}
